<?xml version="1.0"?>
<launch>
  <arg name="node_name" value="tug_robot_control_node" />
  
  <node name="$(arg node_name)" pkg="tug_robot_control" type="tug_robot_control_node" output="screen">
    
    <param name="robot_control_loop_rate" type="double" value="1.0"/>
    <rosparam command="load" file="$(find tug_robot_control)/config/robot_control_configuration_krikkit2.yaml" />
  
  </node>
  
</launch>
