<?xml version="1.0"?>
<launch>
  <!-- Name of the SocketCAN interface. -->
  <arg name="device" default="can0" />

  <include file="$(find tug_can_interface)/launch/can_server.launch">
    <arg name="driver" value="tug_can_nic_drivers::SocketCanNicDriver" />
    <arg name="device" value="$(arg device)" />
    <arg name="baud_rate" value="0" />
  </include>
</launch>

